/* -----Index Page----*/
.mynav {
    background-color:white;
    color:cadetblue;
    border-radius:0;
    font-family: "Agency FB";
    font-size: 24px;

}

.mynav .navbar-nav > li > a {
    color:cadetblue;
}
.mynav .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color:cadetblue;
    background-color:transparent;
}
.mynav .navbar-brand {
    color:#2b2d2f;
    font-size: 30px;
    font-family: "Bauhaus 93";
}

section {
    padding-top:70px;
    min-height: 800px;
    color:cadetblue;
}
section h1{
    font-family: "Agency FB";
}
.card {
    width: 300px;
    height: 200px;
    background-color: white;

    text-align: center;
    vertical-align: middle;
    line-height: 200px;  /* the same as the div height */

    /* 50% black box shadow */
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
/* ---Index Page ENDE----*/
.hidden {
    display: none;
}
.box {
    margin:100px 100px 0 -150px; /* half the card width and height to center card*/
    position: absolute;
    top: 50%;
    left: 50%;

    -webkit-perspective: 600px;
    -moz-perspective: 600px;
    perspective: 600px;
}

/* -- make sure to declare a default for every property that you want animated -- */
/* -- general styles, including Y axis rotation -- */
.box .front {
    background-color: darkred;
    color: white;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.box .back {
    background-color: black;
    color: white;

    position: absolute;
    top: 0;
    left: 0;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}